.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    // background-image: url("https://res.cloudinary.com/lewisshop/image/upload/v1743512910/toeic/answers/1743512902665-BackgroundImg.png.png");
    padding: 0;
    margin: 1000px;
  
    .title {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 24px;
      color: var(--black);
    }
  
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .left-part {
      width: 540px;
      margin-right: 40px;
      text-align: left;
  
      img {
        width: 300px;
        height: auto;
        object-fit: cover;
      }
    }
  
    .right-part {
      min-width: 600px;
      margin-left: 40px;
      color: var(--white);
    }
  
    .form {
      background-color: #d9d9d9;
      width: 40vw;
      border-radius: 25px;
      padding: 40px 60px;
      display: flex;
      flex-direction: column;
      gap: 20px;
  
      .box {
        display: flex;
        flex-direction: column;
  
        .label {
          font-weight: 550;
          text-transform: uppercase;
          font-size: 14px;
          margin-bottom: 6px;
          color: var(--black);
        }
  
        .input {
          padding: 10px;
          background-color: var(--white);
          border: 1px solid var(--white);
          border-radius: 12px;
          outline: none;
          color: var(--black);
          transition: border 0.2s;
  
          &:hover,
          &:focus {
            border-color: #aaa;
          }
  
          &:disabled {
            background-color: #eee;
            color: #555;
            cursor: not-allowed;
          }
        }
      }
  
      button {
        align-self: center;
        width: 150px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
  